.home {
	background-image: url(../../assets/images/bg.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.top-menu {
	display: flex;
	padding: 20px 5vw;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	width: 5vw;
}

.banner {
	width: 100%;
	margin-top: 2vh;
	position: relative;
}

.metarelics {
	font-size: 12vw;
	text-align: center;
	padding: 5vh;
}

.spinning-cube {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	/* margin-top: -10em; */
	height: 100%;
}

.spinning-cube img {
	height: 100%;
}

@media screen and (max-width: 1000px) {
	.logo img {
		width: 15vw;
	}

	.banner {
		margin-top: 10vh;
	}
}