.banner-container {
    position: relative;
    width: 100%;
}

.banner-video {
    overflow: hidden;
}

.banner-video video {
    /** DO NOT CHANGE THESE NUMBERS **/
    width: 170%;
    margin-top: -33%;
    margin-left: -10%;
    margin-bottom: -15%;
}

.banner-content {
    position: absolute;
    top: 0px;
    width: 33%;
    margin: 5%;
    color: white;
}

.banner-content h2 {
    font-size: 40px;
}

.banner-content p {
    font-family: 'Interstate Light';
    font-size: 25px;
    margin-bottom: 25%;
    text-align: left;
}

.banner-content button {
    margin-bottom: 30px;
}

.banner-content svg {
    /* margin-top: 30px; */
    color: white !important;
    fill: white !important;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 1000px) {
    /** DO NOT CHANGE THESE NUMBERS **/
    .banner-video video {
        width: 225%;
        margin-top: -47%;
        margin-left: -63%;
        margin-bottom: -18%;
    }

    .banner-content-wrapper {
        margin: 10%;
    }

    .banner-content {
        position: initial;
        color: black;
        width: 100%;
        margin: 0px;
        text-align: center;
    }

    .banner-content svg {
        /* margin-top: 30px; */
        color: black !important;
        fill: black !important;
        height: 50px;
        width: 50px;
    }
}